<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="shortcut icon" type="image/png" href="favicon.svg">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
        <a href="https://www.envitia.com/for-developers/maplink-pro/">
          <img src="{{site.logo | relative_url}}" alt="Envitia MapLink Pro"  />
        </a>
        {% endif %}

        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <p><b><i>Under construction</i></b></p>

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <div class="btn-group">
          {% for item in site.data.nav.pages %}
          <a href="{{ item.url | relative_url }}"><img src="https://img.shields.io/badge/{{ item.title }}-{{ item.colour }}" /></a>
          {% endfor %}
        </div>
        <div class="btn-group">
          {% for item in site.data.nav.messages %}
          <a href="{{ item.url | relative_url }}"><img src="https://img.shields.io/badge/{{ item.title }}-{{ item.colour }}" /></a>
          {% endfor %}
        </div>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>© <a href="https://www.envitia.com">Envitia Ltd</a> {{ site.time | date: '%Y' }}</p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        <div class="btn-group">
          <a onclick="window.history.back()"><img src="https://img.shields.io/badge/< Back-white" />
          </a><a onclick="window.history.forward()"><img src="https://img.shields.io/badge/Forward >-white" /></a>
        </div>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
